.view-ca-video tr, .view-ca-video tr.even  {
  background: none repeat scroll 0 0 transparent;
}

.view-ca-video tr td {
  width: 25%
}

.view-ca-video tr td, .view-ca-video tr th {
  text-align: center;
}

.view-ca-video .views-field-field-ca-video-v-video {
  float: left;
  padding: 5px 10px;
}