.pane-ca-products-ca-products-category-list-1 .views-field-field-ca-product-category-image { text-align: center; }
.pane-ca-products-ca-products-category-list-1 .views-field-title { text-align: center; }
.pane-ca-products-ca-products-sub-cat-list-one .views-field-field-ca-product-category-image { text-align: center; }
.pane-ca-products-ca-products-sub-cat-list-one .views-field-title { text-align: center; }
.pane-ca-products-ca-products-product-list-1 .views-field-field-ca-product-image { float: left; padding: 0 15px 15px 0; }
.pane-ca-products-ca-products-product-list-1 .views-field-view-node { text-align: right; }
.pane-ca-products-ca-products-product-list-1 .views-field-nothing { clear: both; }
.pane-ca-products-ca-products-product-list-1 .views-field-title { font-size: 18px; font-weight: bold; padding-left: 214px; }
.pane-ca-products-ca-products-node-1 .views-field-field-ca-product-video { float: right; padding: 0 0 15px 15px; }
.pane-ca-products-ca-products-node-1 .views-field-field-ca-product-image { float: left; padding: 0 15px 5px 0; }
.pane-ca-products-ca-products-node-1 .views-field-field-ca-product-image-1 { clear: left; width: 200px; float: left; padding: 0 15px 15px 0; }