#news-images, .views-field-field-ca-news-n-image {
  float: left;
  padding-right: 30px;
}

.view-ca-news .views-field-nothing {
  clear: both;
}

#news-images .views-field-field-ca-news-n-image-1 a {
  padding: 0 5px 5px 0;
}